<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= @page_title %> &raquo; <%= SITE_NAME %></title>
<%= tag 'meta', :content => @meta_keywords, :name => 'keywords' unless @meta_keywords.blank? %><%= tag 'meta', :content => @meta_description, :name => 'description' unless @meta_description.blank? %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<%= stylesheet_link_tag '/stylesheets/reset.css' %>
<%= stylesheet_link_tag '/stylesheets/basic.css' %>
<!--Javascript -->
<script src="/javascripts/jquery.core.js" type="text/javascript"></script>
<!-- Cufon -->
<script src="/javascripts/cufon/cufon_core.js" type="text/javascript"></script>
<script src="/javascripts/cufon/Rockwell_Std_400-Rockwell_Std_700-Rockwell_Std_italic_400-Rockwell_Std_italic_700.font.js" type="text/javascript"></script>
<script src="/javascripts/cufon/Frutiger_400-Frutiger_700-Frutiger_italic_400-Frutiger_italic_700.font.js" type="text/javascript"></script>
<script type="text/javascript">
Cufon.replace('h1, h4', { fontFamily: 'Rockwell Std' });
Cufon.replace('h2', { fontFamily: 'Frutiger' });
</script>
<%= yield :head %>
</head>