<fieldset>

  <div class="title">
    <%= f.label :title %><br />
    <%= f.text_field :title %><br /><br />
	<%= f.label :tag_list %><br />
	<%= f.text_field :tag_list, :size => 80 %>
  </div>

  <%= render 'admin/pages/common_fields', :f => f %>  
  <%= render 'admin/pages/meta_fields', :f => f %>
  <%= render 'admin/pages/page_content_fields', :f => f %>
            
</fieldset>